/*generic style*/
* {
    font-family: "Lato", sans-serif;
}

h1,
h2 {
    color: #2d3c49;
    text-transform: uppercase;
    text-align: right;
}

h1 {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 6px;
}

h2 {
    font-size: 0.75em;
}

h3 {
    font-size: 1.2em;
    color: #7d97ad;
}

h4 {
    text-transform: uppercase;
    color: #2d3c49;
    font-size: 1em;
    text-align: center;
    margin-top: 5px;
}

img {
    width: 100%;
}

/*header style*/
header {
    padding: 10px 10px;
    border-bottom: 2px solid #7d97ad;
}

.header-img img {
    width: 100%;
    max-width: 120px;
    margin: 0 auto;
}

/*main-image style*/
.main-image {
    margin-bottom: 12px;
}

/*featured works style*/

.works-title {
    padding: 0 15px;
}

.works-tile {
    margin-top:15px;
}

.works-tile:last-of-type {
    margin-bottom: 20px;
}

.project-url {
    font-size: 0.75em;
    text-align: center;
    color: #2d3c49;
}

.project-url:first-of-type {
    display: none;
}

.project-url:last-of-type {
    display: block;
}

.tile-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 24px;
}

.work-link {
    width: 100%;
    height: 100%;
    display: block;
}

.tile-img {
    position: relative;
}

.tile-info p {
    display: none;
    color: #444;
    font-size: 0.875em;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
}

@media screen and (max-width: 767px) {
    .works-tile:nth-child(even) {
        padding: 0 5px 0 10px;
    }

    .works-tile:nth-child(odd) {
        padding: 0 10px 0 5px;
    }
}

@media screen and (min-width: 400px) {
    .header-text {
        margin-top: 1.5%;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.8em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
       font-size: 2em;
    }

    h4 {
       font-size: 1.4em;
        margin-top: 10px;
    }

    header {
        margin: 0 10px 20px 10px;
        padding: 20px 0;
    }

    .header-img {
        padding: 0 20px 0 0;
    }

    .header-text {
        padding: 0;
    }

    .main-image {
        padding: 0 10px;
        margin-bottom: 28px;
    }

    .works-tile {
        padding: 0 10px 0 10px;
    }

    .project-url {
        font-size: 0.75em;
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding-bottom: 25px;
        margin-bottom: 30px;
    }

    h1 {
        padding-bottom: 10px;
    }

    .works-title {
        padding: 0 20px;
    }

    h4 {
        font-size: 2em;
    }

    .project-url {
        font-size: 0.75em;
    }

    .project-url:first-of-type {
        display: block;
    }

    .project-url:last-of-type {
        display: none;
    }
}